@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}
<div style="height: 100px;"></div>
<header style="display: flex; justify-content: center; align-items: center;">
   
    @{
        if (User.Identity.IsAuthenticated)
        {
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <h1 style="text-align: center; text-transform: capitalize;">@ViewData["Title"]</h1>
                <button type="submit" class="nav-link btn btn-link text-dark">Click here to Logout</button>
            </form>
        }
        else
        {
            <p>You have successfully logged out of the application.</p>
        }
    }
</header>
