@page
@model NonProfitSiteV3.Pages.ArticlesModel
@{
}
<link rel="stylesheet" href="~/css/backgroudAutoSlider.css" asp-append-version="true" />
@*<base href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/">*@
<div id="captioned-gallery">
  <figure class="slider">
    <figure>
      @*<img src="hobbiton-lake.jpg" alt>*@
      <img src="./Images/about1.jpg" alt>
      <figcaption>Hobbiton, New Zealand</figcaption>
    </figure>
    <figure>
      @*<img src="wanaka-drowned-tree.jpg" alt>*@
      <img src="./Images/about2.jpg" alt>
      <figcaption>Wanaka, New Zealand</figcaption>
    </figure>
    <figure>
      @*<img src="utah-peak.jpg" alt>*@
      <img src="./Images/about3.jpg" alt>
     
    </figure>
    <figure>
      @*<img src="bryce-canyon-utah.jpg" alt>*@
      <img src="./Images/about4.jpg" alt>
    </figure>
    <figure>
      @*<img src="hobbiton-lake.jpg" alt>*@
      <img src="./Images/about3.jpg" alt>
    </figure>
  </figure>
</div>