@page
@model NonProfitSiteV3.Pages.Lists.RegisteredVolunteersList.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>VolunteerRegistered</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="VolunteerRegistered.VReg_branch" class="control-label"></label>
                <input asp-for="VolunteerRegistered.VReg_branch" class="form-control" />
                <span asp-validation-for="VolunteerRegistered.VReg_branch" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VolunteerRegistered.VReg_name" class="control-label"></label>
                <input asp-for="VolunteerRegistered.VReg_name" class="form-control" />
                <span asp-validation-for="VolunteerRegistered.VReg_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VolunteerRegistered.VReg_father" class="control-label"></label>
                <input asp-for="VolunteerRegistered.VReg_father" class="form-control" />
                <span asp-validation-for="VolunteerRegistered.VReg_father" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VolunteerRegistered.VReg_contact" class="control-label"></label>
                <input asp-for="VolunteerRegistered.VReg_contact" class="form-control" />
                <span asp-validation-for="VolunteerRegistered.VReg_contact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VolunteerRegistered.VReg_email" class="control-label"></label>
                <input asp-for="VolunteerRegistered.VReg_email" class="form-control" />
                <span asp-validation-for="VolunteerRegistered.VReg_email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VolunteerRegistered.VReg_education" class="control-label"></label>
                <input asp-for="VolunteerRegistered.VReg_education" class="form-control" />
                <span asp-validation-for="VolunteerRegistered.VReg_education" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VolunteerRegistered.VReg_experience" class="control-label"></label>
                <input asp-for="VolunteerRegistered.VReg_experience" class="form-control" />
                <span asp-validation-for="VolunteerRegistered.VReg_experience" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VolunteerRegistered.VReg_religion" class="control-label"></label>
                <input asp-for="VolunteerRegistered.VReg_religion" class="form-control" />
                <span asp-validation-for="VolunteerRegistered.VReg_religion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VolunteerRegistered.VReg_dob" class="control-label"></label>
                <input asp-for="VolunteerRegistered.VReg_dob" class="form-control" />
                <span asp-validation-for="VolunteerRegistered.VReg_dob" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VolunteerRegistered.VReg_address" class="control-label"></label>
                <input asp-for="VolunteerRegistered.VReg_address" class="form-control" />
                <span asp-validation-for="VolunteerRegistered.VReg_address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
